/*---for mobile responsive----*/

@media (max-width:576px){
	.container{
		width:100%;
	}
	.header-top{
		width:100%;
	}
	.header-menu{
		width:100%;
	}
	.col-12{
		width:100% !important;
	}
	.col-11{
		width:50%;
	}
	.language{
		display:none;
	}
	.header-image{
		background-position:center;
	    height:100vh;
		width:100%;
	}
	 .col-12 h1{
		font-size:27px;
		text-align:center;
	}
	.align-contant{
		font-size:18px;
		text-align:center;
	}
	.menu{
		display:none;
	}
	.menu-btn{
		display:none;
	}
	.why-mini{
		margin-bottom:20px;
	}
	.flex-column-reverse{
		flex-direction:column-reverse !important;
	}
	.box-2{
		display:inline-block;
	}
	.1boxes{
		padding-right:10px;
	}
}
@media (min-width:768px) and (max-width:992px){
	.container{
		width:100%;
	}
	.header-top{
		width:100%;
	}
	.header-image{
		background-position:center;
	    height:100vh;
		width:100%;
	}
	.header-content{
		padding-top:430px;
		text-align:center;
	}
	.v-btn{
		padding-bottom:100px;
	}
	.d-none{
		display:none;
	}
	.col-12{
		width:100%;
	}
	.col-12 h1{
		font-size:35px;
		text-align:center;
	}
	.col-12 p{
		font-size:20px;
	}
	.col-11{
		text-align:center;
	}
	.flex-column-reverse{
		flex-direction:column-reverse !important;
	}
	.size{
		font-size:20px;
	}
	.why-mini{
		margin-bottom:20px;
	}
	.col-8{
		width:50%;
	}
	.space-rt{
		padding-right:165px;
	}
	.col-4{
		width:33.33%;
	}
	.col-5{
		width:50%;
	}
	.table-space{
		padding:10px;
	}
	
}